/*
 * Copyright (c) 2022 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BAS_L 0
#define NAV_L 1
#define NUM_L 2
#define SYM_L 3

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace

&lt { quick_tap_ms = <200>; };

/ {
    chosen { zmk,matrix_transform = &ortho_transform; };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <NAV_L NUM_L>;
            then-layer = <SYM_L>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "Base";
            bindings = <
&kp ESC       &kp Q  &kp W      &kp E     &kp R      &kp T                      &kp Y      &kp U     &kp I      &kp O    &kp P     &kp BACKSPACE
&kp LEFT_GUI  &kp A  &kp S      &kp D     &kp F      &kp G                      &kp H      &kp J     &kp K      &kp L    &kp SEMI  &kp SINGLE_QUOTE
&kp TAB       &kp Z  &kp X      &kp C     &kp V      &kp B                      &kp N      &kp M     &kp COMMA  &kp DOT  &kp FSLH  &kp RET
                     &kp LCTRL  &kp LALT  &mo NAV_L  &kp LEFT_SHIFT  &kp SPACE  &mo NUM_L  &kp RALT  &kp RCTRL
            >;
        };

        nav_layer {
            label = "Nav";
            bindings = <
&kp ESCAPE    &none  &none          &none          &none             &none                       &none           &none     &none         &none         &none  &kp DEL
&kp LEFT_GUI  &none  &kp C_AC_HOME  &kp C_AC_BACK  &kp C_AC_FORWARD  &kp C_AC_SEARCH             &kp LEFT_ARROW  &kp DOWN  &kp UP_ARROW  &kp UP_ARROW  &none  &kp SINGLE_QUOTE
&kp TAB       &none  &none          &none          &none             &none                       &none           &none     &none         &none         &none  &kp ENTER
                     &none          &none          &none             &kp LEFT_SHIFT   &kp SPACE  &mo 3           &none     &none
            >;
        };

        num_layer {
            label = "Num";
            bindings = <
&kp ESCAPE  &none         &none         &kp GRAVE     &kp LEFT_BRACKET  &kp RBKT                   &kp MINUS     &kp EQUAL  &kp BACKSLASH  &none    &none    &kp BACKSPACE
&kp LGUI    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4      &kp N5                     &kp NUMBER_6  &kp N7     &kp N8         &kp N9   &kp N0   &kp SINGLE_QUOTE
&kp F1      &kp F2        &kp F3        &kp F4        &kp F5            &kp F6                     &kp F7        &kp F8     &kp F9         &kp F10  &kp F11  &kp F12
                          &none         &none         &mo 3             &kp LEFT_SHIFT  &kp SPACE  &none         &none      &none
            >;
        };

        sym_layer {
            label = "Sym";
            bindings = <
&kp ESCAPE    &none  &none           &none            &none              &none                      &none          &none          &none        &none    &none  &kp BACKSPACE
&kp LEFT_GUI  &none  &kp C_PREVIOUS  &kp C_VOLUME_UP  &kp C_VOLUME_DOWN  &kp C_NEXT                 &kp C_AC_HOME  &kp PAGE_DOWN  &kp PAGE_UP  &kp END  &none  &kp SQT
&kp TAB       &none  &none           &none            &none              &none                      &none          &none          &none        &none    &none  &kp RETURN
                     &none           &none            &none              &kp LEFT_SHIFT  &kp SPACE  &none          &none          &none
            >;
        };
    };
};
